.calender-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    width: 100%;
    padding: 0rem 0.5rem;
    p {
        font-family: monospace;
        font-size: 1.5rem;
    }
}

.calender-days {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    
    p {
        font-size: 1rem;
        font-family: Arial, Helvetica, sans-serif;
    }
}

.calender-day {
    height: 1.7rem;
    width: 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.4rem;
    border-radius: 50%;
    background-color: hsl(0, 0%, 20%);
    transition: all 0.1s;
    cursor: pointer;
}

.calender-day:hover {
    filter: brightness(150%)
}

.calender-day:active {
    transform: scale(0.92);
}



.prev {
    color: white;
    background-color: hsl(120, 100%, 40%);
    box-shadow: 0px 0px 5px hsl(120, 100%, 40%);
}

.today {
    color: white;
    background-color: hsl(120, 100%, 40%);
    box-shadow: 0px 0px 5px hsl(120, 100%, 40%);
}

.next {
    color: white;
    background-color: hsl(0, 100%, 40%);
    box-shadow: 0px 0px 5px hsl(0, 100%, 40%);
}
