@function randomColor() {
    @return hsl(random(360), 100%, 60%)
}

.game-starting {
    span {
        font-size: 2rem;
    }
    @for $i from 1 through 11 {
        $color: randomColor();
        span:nth-child(#{$i}) {
            color: $color;
        }
    }
}