@function randomColor() {
    @return hsl(random(360), 100%, 60%)
}

.game-starting {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 10%);
    span {
        font-family: monospace;
        font-size: 2rem;
    }
    @for $i from 1 through 11 {
        $color: randomColor();
        span:nth-child(#{$i}) {
            color: $color;
        }
    }
}