@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.spinner {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    border-top: 2px solid magenta;
    border-radius: 50%;
    animation: spin 0.8s ease infinite;
    span {
        font-family: monospace;
        font-size: 2rem;
    }
    @for $i from 1 through 11 {
        $color: randomColor();
        span:nth-child(#{$i}) {
            color: $color;
        }
    }
}