$prefix: "story-quests";

.#{$prefix}-container {
    height: calc(100vh - 4rem);
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
    overflow: none;
}

.#{$prefix}-bar {
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: inherit;
    border-radius: 6px 6px 0px 0px;
}

.#{$prefix}-bar-data {
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    p {
        font-family: monospace;
        font-size: 1.5rem;
    }
}

.#{$prefix} {
    height: 100%;
    width: 100%;
    display: flex;
    background-color: inherit;
    scrollbar-width: none;
    overflow: auto;
}

#quest-section {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quest {
    width: 80%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    display: flex;
    padding: 1rem;
    align-items: center;
    background-color:hsl(0, 0%, 20%);
    border-radius: 4px;
    margin-bottom: 1rem;
    cursor: pointer;
    p {
        font-family: monospace;
        font-size: 1.5rem;
    }
}

.quest-number {
    color: hsl(0, 0%, 85%);
}

.quest-reward {
    color: hsl(195, 100%, 50%);
    text-shadow: 0px 0px 2px hsl(195, 100%, 50%);
    font-size: 1.5rem; 
}