.timer-container {
    height: 100%;
    width: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 10%);
    color: white;
    border: none;
    border-radius: 12px;
}

#timer {
    width: fit-content;
    font-family: monospace;
    font-size: 2rem;
}