.toolbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    height: 4rem;
    width: 100%;
    padding: 0rem 0rem;
    border: 2px solid hsl(0, 0%, 20%);
    color: white;
    background-color: hsl(0, 0%, 15%);
    p {
        font-size: 1.5rem;
        font-family: monospace;
    }
}

.toolbar-left-side {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    font-family: monospace;
    align-items: center;
}

.toolbar-right-side {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    font-family: monospace;
    padding-right: 6rem;
    gap: 6rem;
    align-items: center;

    p {
        font-size: 1.75rem;
    }
}

.toolbar-user {
    padding-left: 0.5rem;
}

#toolbar-level {
    padding: 1rem 0.25rem 1rem 0.5rem;
}

#toolbar-streak {
    color: orange;
    text-shadow: 0px 0px 2px orange;
}

#toolbar-gems {
    color: hsl(195, 100%, 50%);
    text-shadow: 0px 0px 2px hsl(195, 100%, 50%);
}

#toolbar-lives {
    color: red;
    text-shadow: 0px 0px 2px red;
}