$prefix: 'welcome-page';

.#{$prefix}-main {
    height: 44.4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: hsl(0, 0%, 10%);
    p {
        font-family: monospace;
        font-size: 1.25rem;
    }
}

##{$prefix}-title {
    align-self: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.#{$prefix}-main-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

##{$prefix}-section-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

##{$prefix}-section-3 {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.#{$prefix}-credentials {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.#{$prefix}-cards-container {
    height: 8rem;
    display: flex;
    justify-content: space-evenly;
}

